@import "tailwindcss";


@font-face {
    font-family: "font-1" ;
    src: url(./fonts/Poppins-SemiBold.ttf);
}

body{
  font-family: "poppins" , sans-serif;
}

h1,h2 {
  font-family: "font-1" , sans-serif;
}

@layer utilities{
  .gradient{
    background: linear-gradient(-45deg, #302b63, #131414, #121212);
  }
}

@keyframes starFade {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}

.animate-starFade {
  animation: starFade 0.6s ease-out forwards;
}
